<!-- templates/partials/my_bookings.html -->
<div class="card">
  <h3>My Bookings</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th><th>Vessel</th><th>From</th><th>To</th><th>Type</th><th>Cost</th><th>Date</th><th>Status</th><th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <td>{{ booking.id }}</td>
          <td>{{ booking.vessel.name }}</td>
          <td>{{ booking.source_port }}</td>
          <td>{{ booking.destination_port }}</td>
          <td>{{ booking.container_type }}</td>
          <td>{{ booking.cost }}</td>
          <td>{{ booking.booking_date|date:'M d, Y' }}</td>
          <td>{{ booking.status }}</td>
          <td>
             {% if booking.status != "Cancelled" %}
             <a href="{% url 'cancel_booking' booking.id %}">Cancel</a>
             {% else %}
             <span style="color: gray;">Cancelled</span>
             {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr><td colspan="9">No bookings found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>